@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root {
    --light-gray: hsla(300, 4%, 90%, 1);
    --davys-grey: hsla(12, 5%, 36%, 1);
    --white: hsla(225, 100%, 99%, 1);

    --default-clr-txt: hsl(0, 0%, 2%);

    --container-width: 1200px;
    --container-padding: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
    color: var(--default-clr-txt);
    background-color: var(--light-gray);

}

header {
    background-color: var(--davys-grey);
    color: var(--light-gray);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

header h1 {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.main {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: var(--container-padding);
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#adding-cards {
    cursor: pointer;
    /* background: none; */
}

.card{
    border-radius: 30px;
    padding: 20px;
    height: 300px;
    width: 280px;
    background-color: var(--davys-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--light-gray);
    word-break: normal;
    text-align: center;

}
/* 
.card:hover{
    height: calc(300px + 2px);
    width: calc(280px + 2px);
} */

.card span {
    font-size: 0.7em;
}

.card p:first-child{
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.8px;

}
.card p:nth-child(2){
    font-size: 0.7em;
    letter-spacing: 0.8px;
}

.thumbnail{
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.7)
        ), url(https://cdn.pixabay.com/photo/2014/04/03/10/25/reading-310397_1280.png) center / cover no-repeat ; 
    background-size: 107%;
    transition: background .6s ;
}
    
.thumbnail:hover{
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 1)
        ), url(https://cdn.pixabay.com/photo/2014/04/03/10/25/reading-310397_1280.png) top / cover no-repeat ; 
    background-size: 130%;
}

#adding-window[data-active='false']{
    display: none;
}
#adding-window[data-active='true']{
    
    display: block;
    animation: open-window 0.1s ease-in-out;
    width: 380px;
    height: 450px;
    transform: translate(-50%, -50%) scale(1);
    color: var(--light-gray);
    background-color: var(--davys-grey);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9;
    border-radius: 25px;
    
}

@keyframes open-window {
    0% {
    opacity: 0;
    }

    50% {
        opacity: 0.75;
    }

    100% {
    opacity: 1;
    }
  }



#adding-window #close-icon {
    cursor: pointer;
    font-size: 2.6rem;
    color: var(--light-gray);
    float: right;
    margin: 20px;
}


.add-book-form {
    display: grid;
    place-items: center;
    width: 380px;
    height: 300px;
    position: relative;
    top: -30px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(1fr, 6) ;
    grid-template-areas: 
    "headTitle headTitle"
    "title title"
    "author author"
    "totalPage pagesComp"
    "totalPageTxt pagesCompTxt"
    "finished finished"
    "formSubmit formSubmit"
    ;
}

.add-book-form input{
    color: var(--davys-grey);
    letter-spacing: 1px;
}

.add-book-form input[placeholder]{
    border: none;
    border-radius: 8px;
    height: 2.4rem;
    width: 16rem;
    text-align: center;
}

.add-book-form #totalPage input {
    width: 3rem;
    border: none;
    border-radius: 4px;
}

.add-book-form #pagesComp input {
    width: 3rem;
    border: none;
    border-radius: 4px;
}

/* Hiding up-down arrow in inpute type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

input::placeholder {
    color: var(--davys-grey);
    font-size: 1rem;
}
#headTitle{
    grid-area: headTitle;
}
#bookTitle{
    grid-area: title;
    /* margin-bottom: 10px; */
}
#bookAuthor{
    grid-area: author;
}
#totalPage{
    grid-area: totalPage;
}
#totalPageTxt{
    grid-area: totalPageTxt;
    font-size: 0.6rem;
    margin-top: -10px;
}
#pagesComp{
    grid-area: pagesComp;
}
#pagesCompTxt{
    grid-area: pagesCompTxt;
    font-size: 0.6rem;
    margin-top: -10px;
}
#finished{
    grid-area: finished;
    margin-top: -10px;
    color: var(--light-gray);
}
#form-submit{
    grid-area: formSubmit;
}
#form-submit input{
    border: none;
    padding: 8px 60px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--white);
    color: var(--davys-grey);
}

#form-submit input:hover{
    background-color: var(--light-gray);
}